div {
    width: 200px;
    height: 200px;
    background-color: crimson;
    border: 4px solid yellow;
    display: inline-block;
    margin: 80px;
}

#abc {
    position: absolute;
}

#bcd {
    position: fixed;
    top: 200px;
    left: 300px;
}

#cde {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

p {
    font-size: 70px;
}