#bcd {
    color: white;
    font-weight: 600;
}

#navbarDropdown {
    color: white;
    font-weight: 600;
}

#abc {
    background-color: white;
    color: blue;
    font-weight: 600;
    padding: 8px 55px 8px 55px;
}

#cde {
    margin-right: 0ch;
}

.card-text {
    text-align: center;
}

.card {
    border: none;
}

.row {
    min-width: 100%;
}

.col-5 {
    margin-right: 40px;
}

.carousel-inner {
    max-width: 1680px;
    margin-left: 120px;
}