#bcd {
    color: white;
    font-weight: 600;
}

#navbarDropdown {
    color: white;
    font-weight: 600;
}

#abc {
    background-color: white;
    color: blue;
    font-weight: 600;
    padding: 8px 55px 8px 55px;
}

#cde {
    margin-right: 0ch;
}

.nav {
    min-height: 100px;
}

.card-body {
    text-align: center;
}