#abc {
    width: 1000px;
    height: 600px;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#bcd {
    width: 1000px;
    height: 600px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

#cde {
    width: 1000px;
    height: 600px;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

#abc div {
    width: 200px;
    height: 200px;
}

#bcd div {
    width: 200px;
    height: 200px;
    font-size: larger;
}

#cde div {
    width: 200px;
    height: 200px;
}

#cde div:nth-of-type(2) {
    align-self: center;
}