h1 {
    height: 100px;
    width: 400px;
    background-color: aqua;
}

#abc {
    height: 200px;
    width: 400px;
    background-color: aquamarine;
}

#bcd {
    height: 250px;
    width: 400px;
    background-color: beige;
}

#cde {
    height: 250px;
    width: 400px;
    background-color: blue;
}